.DS_Store
.emacs.d/auto-save-list
.emacs.d/tramp
*.elc
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*‾
#*#
.#*
.*.swp
.svn
*.spc
*~
/.emacs.d/elpa/archives/marmalade/archive-contents
/.emacs.d/url/cookies
/.emacs.d/elpa/archives/gnu/archive-contents