[user]
	name = monta
	email = monta@ednity.com
	signingkey = 2E474099ED9CA707
[mergetool]
	keepBackup = true
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[commit]
	template = ~/.gittemplate
	gpgsign = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[gpg]
	program = /usr/local/bin/gpg
