dotfiles.sublime-workspace
dotfiles.sublime-project
Sublime/User/Package Control.last-run
Sublime/User/Package Control.ca-list
Sublime/User/Package Control.ca-bundle
Sublime/User/Package Control.system-ca-bundle
Sublime/User/Package Control.cache/
Sublime/User/Package Control.ca-certs/
Sublime/User/encoding_cache.json
Sublime/User/Package Control.merged-ca-bundle
Sublime/User/oscrypto-ca-bundle.crt
Sublime/User/Sublimerge Macros.sublime-commands
Sublime/User/Color Highlighter/themes/*.tmTheme
Sublime/User/Sublimerge.tmTheme
Sublime/User/SublimergeSummaryPanel.tmTheme
*.cache
.config/yarn/global/node_modules/
