.emacs.d/auto-save-list
.emacs.d/tramp
*.elc
*.spc
*~
/.emacs.d/elpa/archives/marmalade/archive-contents
/.emacs.d/url/cookies
/.emacs.d/elpa/archives/gnu/archive-contents
/.subversion/auth/svn.simple/8d15925db319a3bdd273223132de0108
/dotfiles.sublime-workspace
/dotfiles.sublime-project
/.emacs.d/elpa/archives/melpa/archive-contents
.emacs.d/elpa/archives/melpa/archive-contents
.emacs.d/elpa/*
.emacs.d/recentf
.config/configstore
