[user]
	name = monta
	email = monta@inforichjapan.com
[mergetool]
	keepBackup = true
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[commit]
	template = ~/.gittemplate
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
