[user]
	name = monta
	email = djmonta@gmail.com
[mergetool]
	keepBackup = true
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[commit]
	template = ~/.gittemplate
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
