"*":
  "autoclose-html": {}
  codic:
    accessToken: "ZvUz3eh3d6NfPVoDYSx4mPIEh9h828gHfR"
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "f813cecf-bb31-0df3-a3ea-6e626734aeb6"
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "imdone-atom": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "sass-autocompile":
    sourceMap: true
  welcome:
    showOnStartup: false
