"*":
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    themes: [
      "one-dark-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "hard"
  "exception-reporting":
    userId: "f813cecf-bb31-0df3-a3ea-6e626734aeb6"
  "git-diff":
    showIconsInEditorGutter: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
